ul.navbar-nav-customer{
    width: 690px;
    margin: 0 auto;
    height: 100%;
    padding: 0;
    display: block;
}
ul.navbar-nav-customer li{
    float: left;
    width: 110px;
    display: table;
    height: 55px;
    font-weight: bold;
}
ul.navbar-nav-customer li.large{
    width: 135px;
}
ul.navbar-nav-customer ul.dropdown-menu li a{
    color: #333;
    font-size: 13px;
}
ul.navbar-nav-customer li a{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #333;
    font-size: 16px;
    text-decoration: none;
}

ul.navbar-nav-customer ul.dropdown-menu li a:hover{
   color: #54aae0;
    font-size: 12px;
}
ul.navbar-nav-customer li a:focus,
ul.navbar-nav-customer li a:hover{
    color: #54aae0;
}
ul.navbar-nav-customer li.active a{
    color: #54aae0;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
ul.navbar-nav-customer .dropdown-menu{
    margin: 0;
    font-size: 13px;
    border:none;
    border-top: 2px solid #00b0f0;
    border-radius: 0;
    text-align: left;
    font-weight: normal;
    padding: 0;
    width: 100%;
    min-width: 100%;
    -webkit-box-shadow: 3px 4px 8px rgba(0,0,0,.175);
    box-shadow: 3px 4px 8px rgba(0,0,0,.175);
}
ul.navbar-nav-customer .dropdown-menu>li{
    width: 100%;
    height: 50px;
}
ul.navbar-nav-customer .dropdown-menu>li>a {
    line-height: 49px;
    padding: 0 0 0 10px;
    height: 49px;
}
ul.navbar-nav-customer .dropdown-menu>li>a:hover,
ul.navbar-nav-customer .dropdown-menu>li>a:focus {
    font-weight: bold;
    background-color: #fafafa;
}
@media screen and (max-width: 768px) {
    ul.navbar-nav-customer {
        width: 100%;
    }
    ul.navbar-nav-customer li{
        display: block;
        float: none;
        width: 100%;
        line-height: 20px;
        height: 40px;
        padding: 10px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #d7dadc;
    }
}

.top-right {
    position: absolute;
    top: -42%;
    z-index: 9999;
    bottom: 0;
    right: 0;
}
@media screen and (max-width: 768px) {
    .top-right {
        top: -30%;
        right: 18%;
    }
}
